@page "/"
@using Microsoft.AspNetCore.Components.Routing
@using SlittingDashboard.Components.Pages.SlittingV2
@inject NavigationManager Navigation

<PageTitle>Efficiency Dashboard</PageTitle>


<div class="container">
    <div class="row text-center">
        

      @*   <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 border-primary">
                <div class="card-body">
                    <h5 class="card-title text-primary">📈 View Dashboard</h5> 
                    <p class="card-text">Live KPIs with filters by date, operator, area, and shift.</p>
                   
                </div>
            </div>
        </div> 
      *@

        @* <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 border-dark">
                <div class="card-body">
                    <h5 class="card-title">📤 Export Reports</h5>
                    <p class="card-text">Download CSVs or print for daily standups and audits.</p>
                   
                </div>
            </div>
        </div> *@
    </div>
</div>


<SlitterTable />

